# Environment variables for dev
.envrc
.env
.env.local

# Goreleaser
dist/
*.tar.gz

# Built binaries
logging-operator
*.exe

# Go workspace files (created by build tests)
go.work.sum

# Temporary files
*.swp
*.swo
*~
